{{ define "content" }}
<ul class="list-group">

    {{ range .production.Plans }}
        <li data-blueprint-id="{{ .Blueprint.ID }}" class="{{ if gt .Runs 0 }} list-group-item-primary {{ end }} blueprint-list-entry list-group-item {{ if .Selected }} active {{ end }}" id="blueprint-{{ .Blueprint.ID }}">

            {{ if gt .Runs 0 }}
                {{ .TotalQuantity }} x
            {{ else }}
                ( {{ .TotalQuantity }} ) x
            {{ end }}
            {{ .Blueprint.ManufacturingProductName }}

            {{ if ne .Blueprint.IsReaction true }}
                , ME: {{ .ME }}, PE: {{ .PE }}
            {{ end }}

            {{ if gt .Buildable 0 }}
                , ( {{ .Built }} / {{ .Buildable }} build)
            {{ end }}

            <button data-blueprint-id="{{ .Blueprint.ID }}" class="blueprint-list-entry-remove btn btn-sm btn-danger float-right py-0 {{ if not .Selected }} d-none {{ end }}" id="remove-blueprint-{{ .Blueprint.ID }}">Remove</button>
        </li>
    {{ end }}
</ul>

<div class="card mt-4">
    <div class="card-header m-0 p-0 bg-primary text-white text-center border-0">Total materials to buy</div>
    <div class="card-body p-1 m-0">
        <div class="input-group input-group-sm p-1">
            <div class="input-group-prepend">
                <label class="input-group-text text-primary" for="selected-stockpile">Stockpile</label>
            </div>
            <select class="custom-select blueprint-setting-field" id="selected-stockpile">
                <option value="0" if(selected_stockpile eq 0) selected endif>Choose ...</option>
                foreach(locations as location)
                    <option value="location->id" if(selected_stockpile eq location->id) selected endif> location->system_name  /  location->station_name  ( location->label )</option>
                endforeach
            </select>
        </div>
    </div>

    <div class="card-body p-2 m-0">
<textarea class="form-control rounded-0 border-1" rows="20">
Jobs to run:
-------------------------------------
{{ range .jobs }}    {{ .Runs }} x {{ .BlueprintName }}
{{ end }}
Materials required:
-------------------------------------
{{ range .materials }}    {{ .MaterialName }}  {{ .Quantity }}
{{ end }}
</textarea>
    </div>
    <div class="card-body p-1 m-0">
        <div class="btn-toolbar p-1" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="output-format-btn btn btn-outline-secondary if(output_format == 0) active endif" data-output-format="0">Full output</button>
                <button type="button" class="output-format-btn btn btn-outline-secondary if(output_format == 1) active endif" data-output-format="1">Multi-buy</button>
            </div>
        </div>
    </div>
    <div class="card-body m-0 p-0 bg-primary text-white text-center border-0">Add to tracker</div>
    <div class="card-body p-1 m-0">
        <form action="/production/calculator/track-jobs" method="get">
            <div class="input-group input-group-sm p-1">
                <div class="input-group-prepend">
                    <label class="input-group-text text-primary" for="selected-team">Tracked characters</label>
                </div>
                <select class="custom-select" id="selected-team" name="selected-team">
                    foreach(teams as team)
                        <option value=" team->id "> team->name </option>
                    endforeach
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="track-jobs-btn">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

{{ end }}