{{ define "content" }}
   <div class="card">
        <div class="card-header m-0 p-0 bg-primary text-white text-center border-0">{{ .plan.Blueprint.Name }}</div>
        <div class="card-horizontal align-top">
            <div class="img-square-wrapper">
                <img src="https://images.evetech.net/types/{{ .plan.Blueprint.ID }}/bp?size=64">
            </div>
            <div class="card-body p-1 text-left text-nowrap">
                <h5 class="m-0 card-title text-primary"> {{ .plan.TotalQuantity }} {{ .plan.Blueprint.ManufacturingProductName }}</h5>
                <p class="m-0 text-secondary">
                {{ if eq .plan.Runs 1 }}
                    {{ .plan.Runs }} run requested
                {{ else }}
                    {{ .plan.Runs }} runs requested
                {{ end }}
                {{ if ne .plan.TotalRuns .plan.Runs }}
                    {{ if gt .plan.Runs 0 }}
                        <small>(+ {{ .plan.AdditionalRuns }} runs for production)</small>
                    {{ else }}
                        ( {{ .plan.AdditionalRuns }} runs for production)
                    {{ end }}
                {{ end }}
                in
                {{ len .plan.Jobs }} jobs
                </p>
            </div>
        </div>
        <div class="card-footer bg-transparent border-0 p-0 m-0">
            <h6 class="bg-primary text-white text-center m-0"><small>Settings</small></h6>
            <div class="container">
                <div class="row">
                {{ if .plan.Blueprint.IsReaction }}
                    <input type="hidden" id="blueprint-me" value="0"/>
                    <input type="hidden" id="blueprint-pe" value="0"/>
                    <input type="hidden" id="blueprint-decryptor" value="0"/>
                {{ else if .plan.Blueprint.IsTech2 }}
                    <input type="hidden" id="blueprint-me" value="2"/>
                    <input type="hidden" id="blueprint-pe" value="4"/>

                    <div class="input-group input-group-sm p-1 col">
                        <div class="input-group-prepend">
                            <label class="input-group-text text-primary" for="blueprint-decryptor">Decryptor</label>
                        </div>
                        <select class="custom-select blueprint-setting-field" id="blueprint-decryptor">
                            <option value="0" {{ if eq .plan.Decryptor 0 }}selected{{ end }}>None (ME: 2, PE: 4)</option>

                        {{ range $.decryptors }}
                            <option value="{{ .ID }}" {{ if eq $.plan.Decryptor .ID }}selected{{ end }}>{{ .Name }}  (
                                {{ if ne .ProbabilityModifier 1.0 }}
                                    x {{ .ProbabilityModifier }} chance,
                                {{ end }}

                                {{ if gt .MEModifier 0 }}
                                    +{{ .MEModifier }} ME
                                {{ else if lt .MEModifier 0 }}
                                    {{ .MEModifier }} ME
                                {{ end }}

                                {{ if or (ne .RunsModifier 0) (ne .PEModifier 0) }}, {{ end }}

                                {{ if ne .PEModifier 0 }}
                                    {{ if gt .PEModifier 0 }}
                                        +{{ .PEModifier }} PE
                                    {{ else if lt .PEModifier 0 }}
                                        {{ .PEModifier }} PE
                                    {{ end }}
                                    {{ if ne .RunsModifier 0 }}, {{ end }}
                                {{ end }}

                                {{ if gt .RunsModifier 0 }}
                                    +{{ .RunsModifier }} runs
                                {{ else if lt .RunsModifier 0 }}
                                    {{ .RunsModifier }} runs
                                {{ end }}
                            )</option>
                        {{ end }}
                        </select>
                    </div>

                {{ else }}
                    <div class="input-group input-group-sm p-1 col">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-primary">ME</span>
                            <button class="input-group-text text-primary blueprint-setting-change" data-value="-1" data-field="me">-</button>
                        </div>
                        <input type="text" class="form-control blueprint-setting-field" data-value-min="0" data-value-max="10" id="blueprint-me" value="{{ .plan.ME }}">
                        <div class="input-group-append">
                            <button class="input-group-text text-primary blueprint-setting-change" data-value="1" data-field="me">+</button>
                        </div>
                    </div>
                    <div class="input-group input-group-sm p-1 col">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-primary">PE</span>
                            <button class="input-group-text text-primary blueprint-setting-change" data-value="-1" data-field="pe">-</button>
                        </div>
                        <input type="text" class="form-control blueprint-setting-field" data-value-min="0" data-value-max="10" id="blueprint-pe" value="{{ .plan.PE }}">
                        <div class="input-group-append">
                            <button class="input-group-text text-primary blueprint-setting-change" data-value="1" data-field="pe">+</button>
                        </div>
                    </div>
                {{ end }}
                    <div class="input-group  input-group-sm p-1 col">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-primary">Runs</span>
                            <button class="input-group-text text-primary blueprint-setting-change" data-value="-1" data-field="runs">-</button>
                        </div>
                        <input type="text" class="form-control blueprint-setting-field" data-value-min="0" id="blueprint-runs" value="{{ .plan.Runs }}">
                        <div class="input-group-append">
                            <button class="input-group-text text-primary blueprint-setting-change" data-value="1" data-field="runs">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent border-0 p-0 m-0">
            <h6 class="bg-primary text-white text-center m-0"><small>Resources</small></h6>
            <ul class="list-group rounded-0">
            {{ range .materials }}
                <li class="list-group-item p-0">
                    <img src="https://images.evetech.net/types/{{ .MaterialID }}/icon?size=32">
                    {{ .Quantity }} x {{ .MaterialName }}

                    {{ if gt .MaterialBlueprintID 0 }}
                        <button class="btn btn-sm btn-outline-primary float-right py-0 my-1 mx-1 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ if not .IsBuilt }}
                                Buy
                            {{ else }}
                                Build
                            {{ end }}
                        </button>
                        <div class="dropdown-menu">
                            <a data-build-mode="all" data-blueprint-id="{{ .MaterialBlueprintID }}" class="dropdown-item blueprint-secondary-remove" href="#">Buy</a>
                            <a data-build-mode="all" data-blueprint-id="{{ .MaterialBlueprintID }}" class="dropdown-item blueprint-secondary-add" href="#">Build</a>
                        </div>
                    {{ end }}
                </li>
            {{ end }}
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header m-0 p-0 bg-primary text-white text-center border-0">Total output</div>
        <div class="card-body p-0 m-0">
            <ul class="list-group p-0 rounded-0">
                {{ range .products }}
                <li class="list-group-item p-0 list-group-item-primary">
                    <img src="https://images.evetech.net/types/{{ .ProductID }}/icon?size=32">
                    {{ .Quantity }} x {{ .ProductName }}
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="card-body m-0 p-0 bg-primary text-white text-center border-0">Excess production</div>
        <div class="card-body p-0 m-0">
            <ul class="list-group p-0 rounded-0">
                {{ range .excess }}{{ if eq .Excess 0 }}{{ continue }}{{ end }}
                <li class="list-group-item p-0">
                    <img src="https://images.evetech.net/types/{{ .MaterialID }}/icon?size=32">
                    {{ .Excess }}  x  {{ .MaterialName }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ end }}